services:
  app:
    container_name: amul_app
    build: .
    ports:
      - "8000:8000"
    expose:
      - "8000"
    volumes:
      - .:/app
    env_file:
      - .env  
    restart: unless-stopped
    networks:
      - amul-network
      
networks:
  amul-network:
    external: true